**/.DS_Store
**/.vscode
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/.ipynb_checkpoints
**/.ruff_cache
*.bundle.*
*.tsbuildinfo
build/
dist/
*.egg-info
*.pyc
*.ipynb
!**/notebooks/*.ipynb
**/[uU]ntitled*
MANIFEST
.coverage
coverage.xml
htmlcov/**
.hypothesis
